@import "./utils.css";

@define-mixin theme {
  @mixin palette indigo, 0.191, 267.01;
  @mixin palette slate, 0.007, 248.07;
  @mixin palette jade, 0.115, 170.73;
  @mixin palette ruby, 0.195, 13.15;
  @mixin palette green, 0.133, 157.68;
  @mixin palette amber, 0.157, 84.13;
  @mixin palette cyan, 0.1216861438783739, 221.7438047249627;

  @mixin alias primary, indigo;
  @mixin alias gray, slate;
  @mixin alias accent, jade;
  @mixin alias note, ruby;
  @mixin alias good, green;
  @mixin alias warning, amber;
  @mixin alias caution, cyan;
}

@define-mixin tokens-light {
  /* -------------------------------------------------------------------------- */
  /*                                 Background                                 */
  /* -------------------------------------------------------------------------- */

  /* gray palette */
  --color-bg: var(--color-white);
  --color-bg-muted: 0.96 var(--base-color-gray);
  --color-bg-subtle: 0.95 var(--base-color-gray);
  --color-bg-elevated: var(--color-white);
  --color-bg-inverse: var(--color-gray-900);
  --color-bg-gray: var(--color-gray);

  /* themed */
  --color-bg-primary: var(--color-primary);
  --color-bg-accent: var(--color-accent);
  --color-bg-caution: var(--color-caution);
  --color-bg-good: var(--color-good);
  --color-bg-warning: var(--color-warning);
  --color-bg-note: var(--color-note);

  /* components */
  --color-bg-field: var(--color-white);
  --color-bg-field-muted: var(--color-white);
  --color-bg-field-subtle: var(--color-white);
  --color-bg-pressable: var(--color-white);
  --color-bg-pressable-muted: var(--color-white);
  --color-bg-pressable-subtle: var(--color-white);

  /* -------------------------------------------------------------------------- */
  /*                                 Foreground                                 */
  /* -------------------------------------------------------------------------- */

  /* gray palette */
  --color-fg: var(--color-gray-950);
  --color-fg-muted: var(--color-gray-500);
  --color-fg-subtle: var(--color-gray-800);
  --color-fg-inverse: var(--color-white);

  /* themed */
  --color-fg-primary: var(--color-primary-400);
  --color-fg-accent: var(--color-accent-400);
  --color-fg-caution: var(--color-caution-400);
  --color-fg-good: var(--color-good-400);
  --color-fg-warning: var(--color-warning-400);
  --color-fg-note: var(--color-note-400);

  /* fixed light */
  --color-fg-light: var(--color-white);
  --color-fg-light-primary: var(--color-primary-50);
  --color-fg-light-accent: var(--color-accent-50);
  --color-fg-light-caution: var(--color-caution-50);
  --color-fg-light-good: var(--color-good-50);
  --color-fg-light-warning: var(--color-warning-50);
  --color-fg-light-note: var(--color-note-50);

  /* -------------------------------------------------------------------------- */
  /*                                   Others                                   */
  /* -------------------------------------------------------------------------- */

  --color-border: var(--color-gray-100);
  --color-border-subtle: var(--color-gray-100);
  --color-border-field: var(--color-gray-100);
  --color-border-pressable: var(--color-gray-100);

  --color-ring: var(--color-primary);
}

@define-mixin tokens-dark {
  /* -------------------------------------------------------------------------- */
  /*                                 Background                                 */
  /* -------------------------------------------------------------------------- */

  /* gray palette */
  --color-bg: 0.16 var(--base-color-gray);
  --color-bg-muted: 0.24 var(--base-color-gray);
  --color-bg-subtle: 0.25 var(--base-color-gray);
  --color-bg-elevated: var(--color-gray-800);
  --color-bg-inverse: var(--color-gray-50);

  /* themed */
  --color-bg-primary: 0.45 var(--base-color-primary);
  --color-bg-accent: 0.45 var(--base-color-accent);
  --color-bg-caution: 0.45 var(--base-color-caution);
  --color-bg-good: 0.45 var(--base-color-good);
  --color-bg-warning: 0.45 var(--base-color-warning);
  --color-bg-note: 0.45 var(--base-color-note);

  /* components */
  --color-bg-field: 0.18 var(--base-color-gray);
  --color-bg-field-muted: var(--color-bg-muted);
  --color-bg-field-subtle: var(--color-bg-subtle);
  --color-bg-pressable: 0.18 var(--base-color-gray);
  --color-bg-pressable-muted: var(--color-bg-muted);
  --color-bg-pressable-subtle: var(--color-bg-subtle);

  /* -------------------------------------------------------------------------- */
  /*                                 Foreground                                 */
  /* -------------------------------------------------------------------------- */

  /* gray palette */
  --color-fg: var(--color-white);
  --color-fg-muted: var(--color-gray-500);
  --color-fg-subtle: var(--color-gray-400);
  --color-fg-inverse: var(--color-gray-950);

  /* themed */
  --color-fg-primary: var(--color-primary-300);
  --color-fg-accent: var(--color-accent-300);
  --color-fg-caution: var(--color-caution-300);
  --color-fg-good: var(--color-good-300);
  --color-fg-warning: var(--color-warning-300);
  --color-fg-note: var(--color-note-300);

  /* fixed light */
  /* --color-fg-light: var(--color-white);
  --color-fg-light-primary: var(--color-primary-50);
  --color-fg-light-accent: var(--color-accent-50);
  --color-fg-light-caution: var(--color-caution-50);
  --color-fg-light-good: var(--color-good-50);
  --color-fg-light-warning: var(--color-warning-50);
  --color-fg-light-note: var(--color-note-50); */

  /* -------------------------------------------------------------------------- */
  /*                                   Others                                   */
  /* -------------------------------------------------------------------------- */

  --color-border: 0.3 var(--base-color-gray);
  --color-border-subtle: 0.2 var(--base-color-gray) / 0;
  --color-border-field: 0.25 var(--base-color-gray);
  --color-border-pressable: 0.25 var(--base-color-gray);

  --color-ring: var(--color-primary);
}
